# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Executables & Appium Installers
*.exe
dist/
build/
*.spec.bak

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Environment / Credentials
.env
*.pem
*.key
*.ico.bak
